.navbar {
    background-color: #2C2C2C;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 1000;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


  @media screen and (max-width: 768px) {
    .navbar {
        padding: 5% 10%;
      }

  }
